.wrap{
    width: 1920px;
    font-family: $main-font;
    margin: 0 auto;
}

a{
    text-decoration: none;
    display: block;
}

//字型大小
.font-size-1{
    font-size: 16px;
     line-height: 24px;
}
.font-size-2{
    font-style: 20px;
    line-height: 30px;
}
.font-size-3{
    font-style: 24px;
    line-height: 36px;
}
.font-size-4{
    font-style: 32px;
    line-height: 48px;
}
.font-size-5{
    font-size: 40px;
    line-height: 60px;
}

//通用設定
.space-between{
    display: flex;
    justify-content: space-between;
}
.text-center{
    display: flex;
    align-items: center;
}

//首頁
//header
header{
    padding: 9px 405px;
    h1 a img{
        width: 128px;
        height: auto;
    }
}
.nav{
    display: flex;
    li{
        padding-left: 32px;
    }
    li a{
        color: $menu-main-color;
    }
    li a :hover{
        color: $footer-main-color;
    }
}

//banner
.banner{
    height: 870px;
    background: url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80) ;
    background-size: cover;
    position:relative;
    color: #FFFFFF;
}
.banner-content{
    width: 445px;
    position: absolute;
    right: 405px;
    top: 295px;
    a{
        margin-top: 16px;
        height: 60px;
        width: 350px;
        justify-content: center;
        border: 2px solid #FFFFFF;
        color: #FFFFFF;
        border-radius: 50px;
    }
    a:hover{
        background: rgba($color: #ffffff, $alpha: 0.3);
    }
}

//container
.container{
    padding: 60px 405px;
    li{
        h3{
            font-weight: bold;
        }
        p{
            margin-bottom: 16px;
        }
    }
    .item-content{
        width: 350px;
        padding: 0px 100px;
    }
    
    .flex-row{
        display: flex;
        flex-direction: row-reverse;
    }
    .plan{
        display: flex;
    }
    .plan-content{
        width: 350px;
        padding-left: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .plan-step li{
        display: flex;
        flex-direction: column;
        padding-bottom: 52px;
    }
    .plan-step li h5{
        font-weight: bold;
    }
    .plan-btn{
        margin-top: 8px;
        text-align: center;
        font-weight: bolder;
        color: #000;
        border: 2px solid #000;
        border-radius: 50px;
        padding: 18px 0px;
        &:hover{
            background: rgba($color: #999999, $alpha: 0.3);
        }
    }
}
.btn-more{
    color: $footer-main-color;
    &:hover{
        border-bottom: 1px solid $footer-main-color;
    }
}

//container套入圖片
.item-img-1{
    width: 555px;
    height: 555px;
    background:url(https://images.unsplash.com/photo-1563170351-be82bc888aa4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=676&q=80);
    background-size: cover;
    background-position:0px -30px;
}
.item-img-2{
    width: 555px;
    height: 555px;
    background:url(https://images.unsplash.com/photo-1544468266-6a8948003cd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=753&q=80) ;
    background-size: cover;
    background-position:-130px 0px;
}
.item-img-3{
    width: 555px;
    height: 555px;
    background:url(https://images.unsplash.com/photo-1585120040315-2241b774ad0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) ;
    background-size: cover;
}
.plan-img{
    width: 555px;
    height: 1080px;
    background:url(https://images.unsplash.com/photo-1542038382126-77ae2819338d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) ;
    background-size: cover;
    background-position:-100px 0px;
}


//product區塊
.product{
    padding: 40px 391px;
    background: $background-color;
    .product-item{
        display: flex;
    }
    .product-item li{
        margin: 0px 14px;
    }
    .product-title{
        margin-top: 8px;
        font-weight: bold;
    }
    .product-brand{
        margin-bottom: 16px;
    }
    .product-price-original{
        margin-left: 8px;
        color: $menu-main-color;
        text-decoration: line-through;
    }
    .sold-out{
        padding: 252px 95px;
        background: rgba($color: #646161, $alpha: 0.5) ;
        font-weight: bold;
        text-align: center;
        color: #FFFFFF;
    }
}

//product套入圖片
.product-img-1,.product-img-2,.product-img-3{
    width: 350px;
    height: 540px;
}
.product-img-1{
    background:url(https://images.unsplash.com/photo-1530630458144-014709e10016?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=634&q=80);
    background-size: cover;
}
.product-img-2{
    background:url(https://images.unsplash.com/photo-1556228720-da4e85f25e15?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=638&q=80);
    background-size: cover;
}
.product-img-3{
    background:url(https://images.unsplash.com/photo-1559264730-1533a6ec0433?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
    background-size: cover;
    background-position:-25px 20px;
}

//recycle區塊
.recycle{
    padding: 60px 405px;
    display: flex;
    .recycle-content{
        display: flex;
        padding-left: 30px;
        flex-direction: column ;
        justify-content: center;
    }
    h3{
        font-weight: bold;
    }
    p{
        margin-bottom: 16px;
    }

}
.recycle-img{
    min-width: 730px;
    height: 520px;
    background:url(https://images.unsplash.com/photo-1594913615593-e4b8c44625be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
}

//subscribe區塊
.subscribe{
    background:url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80) no-repeat;
    background-size: cover;
    background-position:0px -650px;
    .subscribe-content{
        padding: 372px 1165px 112px 405px;
    }
    h4{
        color: $menu-main-color;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .subscribe-btn{
        display: flex;
        height: 60px;
        input{
            color: $menu-main-color;
            padding-left: 21px;
            border: none;
            border-radius: 5px 0px 0px 5px;
            border: 2px solid $footer-main-color;
        }
        .confirm{
            width: 131px;
            padding-left: 27px;
            background: $footer-main-color;
            color: #FFFFFF;
            border-radius: 0px 5px 5px 0px;
            &:hover{
                background: #6C4700;
            }
        }
    }
}

//footer區塊
footer{
    background: #916000;
    color:#FFFFFF;
    padding: 20px 405px 22px 405px;
    .footer-logo{
        display: flex;
        img{
            width: 128px;
            height: auto; 
            margin-right: 20px;
        }
        p{
            font-size: 14px;
            line-height: 21px;
        }
    }
    .footer-menu{
        ul{
            flex-direction: row;
        }
        li{
            margin-left: 36px;
        }
        a{
            color:#FFFFFF; 
            padding: 5px 0px;
            &:hover{
                border-bottom: 1px solid #FFF;
            }
        }
    }
}

//產品頁
//產品分類
.menu-brand{
    background: #916000;
    ul{
        display: flex;
        padding-left: 405px;
    }
    li a{
        margin-right: 28px;
        color: #FFFFFF;
        padding: 14px 0px;
        font-size: 20px;
        &:hover{
            background: $menu-main-color;
        }
    }
}
//產品列
.product-container{
    padding:80px 405px 60px 405px ;
}
.product-item-container{
    ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    ul li h3{
        font-size: 24px;
        font-weight: bold;
    }
    .product-item-original-price{
        margin-left: 8px;
        color: $menu-main-color;
        text-decoration: line-through;
    }
    .product-item-icon {
        display: flex;
        a{
            font-size: 18px;
            color: $footer-main-color;
            margin:3px 5px 58.65px 0px;
            &:hover{
                color: $menu-main-color;
            }
        }
    }
}


//產品列圖
.product-item1-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products1.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -50px;
}
.product-item2-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index6.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -120px;
}
.product-item3-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products3.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -30px;
}
.product-item4-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products4.jpg?raw=true) ;
    background-size: cover;
}
.product-item5-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products5.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -30px;
}
.product-item6-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index2.jpg?raw=true) ;
    background-size: cover;
}
.product-item7-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products7.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -20px;
}
.product-item8-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products8.jpg?raw=true) ;
    background-size: cover;
    background-position:-55px 0px;
}
.product-item9-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index9.jpg?raw=true) ;
    background-size: cover;
}
.product-item10-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products10.jpg?raw=true) ;
    background-size: cover;
    background-position:-20px -20px;
}
.product-item11-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products11.jpg?raw=true) ;
    background-size: cover;
    background-position:0px -30px;
}
.product-item12-img{
    width:255px;
    height: 255px;
    background:url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/products12.jpg?raw=true) ;
    background-size: cover;
    background-position:-30px 0px;
}

//頁碼
.product-page{
    display: flex;
    justify-content: center;
    a{
        padding: 0px 10px;
        font-style: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #000000;
        &:hover{
            border-bottom: 1px solid #AC8A46;
            color: #AC8A46;
        }
    }
    
    
}