// 字型
$main-font: "SF Pro Text", "Microsoft JhengHei";
// 主要色調
$footer-main-color:#916019;
$menu-main-color:#8D8D8D;
$background-color:#E0E0E0;

//字型大小
.font-size-1{
    font-size: 16px;
     line-height: 24px;
}
.font-size-2{
    font-size: 20px;
    line-height: 30px;
}
.font-size-3{
    font-size: 24px;
    line-height: 36px;
}
.font-size-4{
    font-size: 32px;
    line-height: 48px;
}
.font-size-5{
    font-size: 40px;
    line-height: 60px;
}
